.App {
  text-align: center;
}

.AppHeader {
  background-color: rgba(20, 73, 120, 0.8);
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.SearchInput{
  width: 300px; /* Adjust the width as needed */
  padding: 10px 20px;
  font-size: 16px; /* Adjust font size as needed */
  border: 2px solid #6289a3; /* Example border color */
  border-radius: 25px; /* Rounded corners */
  outline: none;
  color: #1c2432; /* Text color */
  background-color: #a4bbc7; /* Background color */
}

.SearchInput:focus {
  border-color: #3e6e9c; /* Change border color on focus */
}

.SearchBtn {
  margin-left: 10px;
  display: inline-block; /* Allows for vertical alignment */
  font-size: 16px; /* Adjust font size as needed */
  border: 2px solid #6289a3; /* Example border color */
  border-radius: 25px; /* Rounded corners */
  outline: none;
  color: #1c2432; /* Text color */
  background-color: #a4bbc7; /* Background color */
}

.SearchBtn:hover {
  cursor: pointer; /* Adds a pointer cursor on hover */
  background-color: #3e6e9c; /* Change background color on hover */
}

.NowPlaying {
  height:31px;
  margin-left: 10px;
  display: inline-block; /* Allows for vertical alignment */
  font-size: 16px; /* Adjust font size as needed */
  border: 2px solid #6289a3; /* Example border color */
  border-radius: 25px; /* Rounded corners */
  outline: none;
  color: #1c2432; /* Text color */
  background-color: #a4bbc7; /* Background color */
}

.NowPlaying:hover {
  cursor: pointer; /* Adds a pointer cursor on hover */
  background-color: #3e6e9c; /* Change background color on hover */
}

.SortBy {
  position: relative; /* For placing the arrow */
}

.Sort {
  display: inline-block; /* Allows for vertical alignment */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: 2px solid #6289a3; /* Example border color */
  border-radius: 25px; /* Rounded corners */
  outline: none;
  color: #1c2432; /* Text color */
  background-color: #a4bbc7; /* Background color */
  font-weight: bold;
}

.Sort:focus {
  border-color: #3e6e9c; /* Change border color on focus */
}

/* Arrow styles */
.Arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0;
  border-color: #a4bbc7 transparent transparent;
}

/* Hover arrow styles */
.Sort:hover + .arrow::before {
  border-color: #3e6e9c transparent transparent;
}

.HeaderBtm{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


}


.SortBy{
  margin-left: 20px;

}

.SearchBtn{
  height: 33px;
}
