.movie-list{
    padding-top: 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;

}

.movie-page{
    padding-top: 30px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-content: center;
    gap: 4em;

}

.load-more{
    padding-top: 1%;
}
